.title p {
    margin: 0;
}

.title input {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 800;

    background-color: black;
    color: white;

    width: 300px;
}

.class td {
    border: 1px solid #424242;
}

.class tr td:nth-child(2) {
    width: 200px;
}

/* FORM */
form {
    margin-top: 100px;
}

input {
    border: 1px solid #ccc;
    margin: 2px 0;
}

.score {
    width: 50px;
}

.total {
    width: 50px;
    background-color: #ccc;
}

.percentage {
    color: #b4b4b4;

}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}